#content{
    max-width: 1600px;
    margin: 0 auto;
}
body{
    background-color: lightblue;
}
.logo-img{
    width: 80px;
}
nav a{
    text-align: center;
    text-decoration: none;
}
#hero-img{
    width: 100%;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.home-title{
    color: #001d3d;
}
h4{
    color:#001d3d ;
}
.button-box{
    text-align: center;
    text-decoration: none;
}
main section{
    text-align: center;
}
header{
    background-color: #F7FF78;
}
nav a{
    color: #001d3d;
}
nav a:hover{
    background-color: #024b90;
    color: #D4AC0D;
}
.book, .join{
    background-color: #024b90;
    color: #F7FF78;
}
.book:hover, .join:hover{
    background-color: #D4AC0D;
    color: #001d3d;
}
.icon{
    width: 80px;
}
#background{
    height: 725px;
    background-color: #001d3d;
}
.msg{
    background-color: #001d3d;
    }
.msg h2{
    color: #F7FF78;
}
.msg p{
    color: #D4AC0D;
}
footer{
    background-color: #024b90;
    color: #F7FF78;
}
footer a{
    color: #F7FF78;
    text-decoration: none;
}
footer a:hover{
    color: #D4AC0D;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
   text-decoration: underline; 
}